@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI",
      sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(226 232 240);
    background-color: rgb(2 6 23);
  }
}
